@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Sora', sans-serif;
}

/*MODIFICHE AL MENU*/

.menu{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.titolo{
    margin-left: 40px;
}

.logo{
    color: orange;
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
}


.elementi{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 800px;
    margin-left: 250px;
}

.elementi > p{
    font-size: 25px;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.elementi >p:hover{
    background-color: white;
    border-radius: 5px;
    color: black;
}

.hamburger{display: none;}

#menuquery{display: none;}
#menuquery>p{display: none;}
/*FINE MODIFICHE AL MENU*/


/*MODIFICHE AL BANNER*/
.containerbanner{
    width: 100%;
    margin-top: 80px;
}

.containerbanner > p{
    margin-left: 70px;
    font-size: 25px;
    font-weight: bold;
}

/*fine modifiche al banner*/

.containermain{
    width: 100%;
    height: 1000px;
    display: flex;
}

.aside{
    width: 200px;
    height: 1000px;
    border: 1px solid red;
}

.card{
    width: 100%;
    border: 1px solid yellow;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.boxfoto{
    width: 300px;
    height: 350px;
    margin-left: 70px;
    margin-top: 40px;
}

img{ width: 300px;
    height: 350px;}

.boxfoto > p{
    font-size: 20px;
}

/*modifiche al box card*/


/*fine modifiche al box card*/

/*MODIFICHE QUERY 500PX*/
@media screen and (max-width:500px){
    .elementi{display: none;}

    .hamburger{display: block; color: white; font-size: 35px; margin-left: 70px;}

    .logo{font-size: 35px;}

    #menuquery{
        width: 100%;
        background-color: purple;
        flex-direction: column;
    }

    #menuquery > p{
        display: block;
        width: 100%;
        border: 1px solid white;
        color: white;
        font-size: 30px;
        padding: 20px;
        text-align: center;
    }
    /*fine modifiche al menù*/


/*MODIFICHE AL BANNER*/

.containerbanner > p{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

/*fine modifiche al banner*/

.scrittabanner{font-size: 20px;}
/*fine modifiche al banner*/

/*modifiche alla main page*/

.aside{display: none;}

.boxfoto{
    width: 170px;
    height: 190px;
    margin-left: 10px;
    margin-top: 20px;
}

img{ width: 170px;
    height: 190px;}

    .boxfoto > p{
        font-size: 17px;
    }
    


/*fine modifiche alla main page*/

}